<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!-- Configuración de la conexión JDBC -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        
        <!-- Habilitar la gestión automática del contexto de sesión de Hibernate -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Mostrar SQL ejecutado en stdout -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Actualizar el esquema de la base de datos al iniciar (puede ser 'update', 'create', 'create-drop', etc.) -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Configuración específica de HikariCP -->
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.hikari.connectionTimeout">20000</property>
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maxLifetime">1800000</property>
        
    </session-factory>
</hibernate-configuration>
